---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

let title = "Brian's Blog!";
let description = "Musings on Software or anything else that strikes my fancy.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />

		<div class="wrapper">
			<main class="content">
				<section class="intro">
					<h1>{title}</h1>
					<p>{description}</p>
				</section>
				<aside>
					 🚧 Hey friends, the blog is currently under active construction. 
					 I'm building it with <a href="https://astro.build/">Astro!</a>
					 <br>
					 Things I still need to fix:
					 <ul>
						<li>Margins/padding responsively</li>	
						<li>
							Images rendering correctly both locally and in production
						</li>
						<li>Favicon and some other static assets</li>
						<li>RSS Feed (because web 1.0 still matters)</li>
					</ul>
					Enjoy the content and hopefully stuff will gradually look a little less sucky!
				</aside>
				<section aria-label="Blog post list">
					{posts.map(({ url, frontmatter }) => (
						<BlogPostPreview
							title={frontmatter.title}
							description={frontmatter.description}
							publishDate={frontmatter.publishDate}
							url={url}
						/>
					))}
				</section>
			</main>
		</div>
	</body>
</html>

<style>
	.content {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	.intro {
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
	ul {
	  margin: 0.5rem 0.5rem;
	}

</style>
