---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { getCollection } from "astro:content";
let title = "Blog";

const unsortedPosts = await getCollection("database");


const sortedPosts = unsortedPosts
  .sort((a, b) => {
    const dateA = a.data.properties.Created;
    const dateB = b.data.properties.Created;
    return new Date(dateB).valueOf() - new Date(dateA).valueOf();
  });
// console.log(JSON.stringify(sortedPosts.slice(0, 1), null, 2));

const listOfAllSlugs = sortedPosts.map((post) => post.data.properties.slug);
console.log(`listOfAllSlugs: ${JSON.stringify(listOfAllSlugs, null, 2)}`);

const finalSortedPosts = sortedPosts.slice(1);
const mostRecentPost = sortedPosts[0];
---

<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <BaseHead imageUrl="/social.png" canonicalRoute="" title={title}/>
  </head>

  <body class="">
    <Header />

    <div class="xs:px-2 sm:px-4 md:px-6 lg:px-8 px-8 mx-auto wrapper">
      <main class="content">
        <section class="intro text-center font-serif">
          <p>I don't have talent, so I just get up earlier.<br />-Henry Rollins</p>
        </section>
        <h1 class="text-center">
          Blog
        </h1>

        <br style="background-color: black;" />
        <section id="most-recent-post">
          <BlogPostPreview
            title={mostRecentPost.data.properties.Name}
            description={mostRecentPost.data.properties.Description}
            publicationDate={(mostRecentPost.data.properties.Created || "")}
            url={`/posts/${mostRecentPost.data.properties.slug}`}
            heroImage={{src: mostRecentPost.data.properties.heroImageUrl || "", alt: "", width: 1200}}
            mostRecentPost={true}
          />
        </section>

        <section aria-label="Blog post list">
          <div class="grid xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-auto-rows: 1fr; gap-x-8">
            {
              finalSortedPosts.map((post) => (
                <BlogPostPreview
                  title={post.data.properties.Name}
                  description={post.data.properties.Description}
                  publicationDate={(post.data.properties.Created || "")}
                  url={`/posts/${post.data.properties.slug}`}
                  heroImage={{src: post.data.properties.heroImageUrl || "", alt: "", width: 1200}}
                />
              ))
            }
          </div>
        </section>
      </main>
    </div>
    <Footer />

    <style>
      .content {
      }

      .intro {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
      }
      ul {
        margin: 0.5rem 0.5rem;
      }
    </style>
  </body>
</html>
