---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { Image } from 'astro:assets';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    heroImage?: {
      src: string;
      alt: string;
      width: number;
    };
    slug: string;
    tags?: string[];
  };
}

const {
  content: { title, description, pubDate, heroImage, slug, tags = [] },
} = Astro.props as Props;
console.log(heroImage);
---

<html>
  <head>
    <BaseHead title={title} description={description} imageUrl={heroImage.src} canonicalRoute={`posts/${slug}`}/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <Header />
    <article class="wrapper content">
      <header>
        {heroImage && (
          <Image
            src={heroImage.src}
            width={heroImage.width}
            height={heroImage.width / 1.5}
            alt={heroImage.alt}
            quality={80}
            format="webp"
            class="hero-image"
          />
        )}
        {tags.length > 0 && (
          <div class="post-card-tags">
            {tags.join(', ')}
          </div>
        )}
        <h1 class="title">{title}</h1>
        <time>{pubDate}</time>
      </header>
      <main class="mx-4 sm:mx-8">
        <slot />
      </main>
    </article>
    <style>
      .hero-image {
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: cover;
        object-position: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      @media (max-width: 640px) {
        .hero-image {
          margin-top: 1rem;
          margin-bottom: 2rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .content {
        margin-bottom: 4rem;
      }

      .content :global(h2) {
        margin-top: 2rem;
      }

      header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .title,
      time {
        margin: 0;
      }

      time {
        color: var(--theme-text-lighter);
      }

      .title {
        font-size: 1.75rem;
        font-weight: 700;
      }

      @media (min-width: 640px) {
        .content {
          margin-bottom: 8rem;
        }

        .content :global(h2) {
          margin-top: 4rem;
        }

        header {
          padding-bottom: 2rem;
          margin-bottom: 2rem;
        }

        .title {
          font-size: 2.25rem;
        }
      }

      .post-card-tags {
        display: block;
        margin-bottom: 4px;
        color: #738a94;
        font-size: 1.2rem;
        line-height: 1.15em;
        font-weight: 500;
        letter-spacing: .5px;
        text-transform: uppercase;
      }
    </style>
    <style is:global>
      @import "../styles/global.css";
    </style>
  </body>
</html>
