---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { Image } from 'astro:assets';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    heroImage?: {
      src: string;
      alt: string;
      width: number;
    };
    slug: string;
  };
}

const {
  content: { title, description, pubDate, heroImage, slug },
} = Astro.props as Props;
console.log(heroImage);
---

<html>
  <head>
    <BaseHead title={title} description={description} imageUrl={heroImage.src} canonicalRoute={`posts/${slug}`}/>
  </head>

  <body>
    <Header />
    <article class="wrapper content">
      <header>
        {
          heroImage && (
            <Image
              src={heroImage.src}
              width={heroImage.width}
              height={heroImage.width / 1.5}
              alt={heroImage.alt}
              quality={80}
              format="webp"
            />
          )
        }
        <h1 class="title">{title}</h1>
        <time>{pubDate}</time>
      </header>
      <main class="mx-8">
        <slot />
      </main>
    </article>
    <style>
      img {
        width: 600px;
        object-fit: cover;
        object-position: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
        max-width: 600px;
      }
      img {
        max-width: 600px;
      }

      @media (max-width: 50em) {
        img {
          /* height: 260px; */
          margin-top: 0;
          margin-bottom: 2rem;
        }
      }

      .content {
        margin-bottom: 8rem;
      }

      .content :global(h2) {
        margin-top: 4rem;
      }

      header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .title,
      time {
        margin: 0;
      }

      time {
        color: var(--theme-text-lighter);
      }

      .title {
        font-size: 2.25rem;
        font-weight: 700;
      }

    </style>
    <style is:global>
      @import "../styles/global.css";
    </style>
  </body>
</html>
